@charset 'utf-8';

body {
   float:left;
   width:99%;
   height:auto;
   min-height:612px;
   background-color: rgb(14,25,54);
   background-image: linear-gradient(to bottom, rgb(2,3,7),rgb(7,26,78));
   background-image: -o-linear-gradient(to bottom, rgb(2,3,7),rgb(7,26,78));
   background-image: -moz-linear-gradient(to bottom, rgb(2,3,7),rgb(7,26,78));
   background-image: -webkit-linear-gradient(to bottom, rgb(2,3,7),rgb(7,26,78));
}
section {
   float:none;
   width: 440px;
   height:auto;
   margin: 100px auto;
   font-family: Arial, sans-serif;
}
section h1 {
   float: left;
   width:100%;
   height:auto;
   margin: 0 0 10px 0;
   padding:0;
   font-size: 37px;
   text-align:center;
   color: rgb(255,255,255);
}
section table {
   float: left;
   width:100%;
   height:auto;
   margin:0 0 0 0;
   /*margin:0 0 200px 0;*/
   padding:0;
   border:2px solid rgb(255,255,255);
   border-collapse: unset;
   border-spacing: 0px;
   color: rgb(255,255,255);
   text-align:center;
   
   box-shadow: 0 0 20px 0 rgb(0,0,0);
   -moz-box-shadow: 0 0 20px 0 rgb(0,0,0);
   -webkit-box-shadow: 0 0 20px 0 rgb(0,0,0);
}
section table thead {
   background-color: rgb(34,34,34);
}
section table thead tr th {
   font-size: 25px;
   padding:7px;
   border:1px solid rgb(0,0,0);
   border-top: none;
   border-left: none;
   color: rgb(255,255,255);
}
section table thead tr th:last-child {
   border-right: none;
}
section table tbody {
   background-color:rgb(220,220,220);
}
section table tbody tr td {
   padding:7px 4px;
   font-size: 17px;
   border:1px solid rgb(255,255,255);
   border-top:none;
   border-left:none;
   color: rgb(19,19,19);
}
section table tbody tr td:last-child {
   border-right:none;
}
section table tbody tr:last-child td {
   border-bottom:none;
}
section table tfoot {
   font-size: 25px;
   background-color: rgb(0,0,0);
}
section table tfoot tr td {
   padding: 7px 0;
}